<div class="card">
    <div class="card-body">
        <h1>Nombre: Oscar Miguel Gonzalez Ramirez</h1>
        <p>Para realizar esta practica se utilizo: <br>Base de datos: Mongo db <br>Intermediario: Moongose<br>Diseño: bootstrap<br>Nodejs </p>
    </div>
</div>