<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrar cuenta
            </div>
            <div class="card-body">
                <form action="/usuarios/registrar" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                    </div>
                    <div class="form-group mt-1">
                        <input type="email" class="form-control" name="correo" placeholder="Correo electronico" value="{{correo}}">
                    </div>
                    <div class="form-group mt-1">
                        <input type="password" class="form-control" name="contraseña" placeholder="Contraseña"value="{{contraseñ}}" >
                    </div>
                    <div class="form-group mt-1">
                        <input type="password" class="form-control" name="contraseña_confirmada" placeholder="Contraseña" value="{{contraseña_confirmada}}">
                    </div>
                    <div class="form-group mt-1">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>